@font-face {
  font-family: matter;
  src: url("./matter-light.woff2");

}

@font-face {
  font-family: matter-regular;
  src: url("./matter-regular.woff2");

}

@font-face {
  font-family: roboto;
  src: url("./roboto-flex-latin.woff2");

}
.App{
  font-family: matter;
}